<!-- This line should go where you want to put your button
<div class="money-button"
  data-to="bitcoincash:qzmh7eqswe5n87j4hh4ajrc05eukgrfeccz0sxq33y"
  data-amount="3"
  data-currency="CNY"
  data-label="Buy me a breakfast"
  data-hide-amount="false"
  data-client-identifier="a65023353f4a69a96a959fe5f909749c"
  data-button-id="1537167036238"
  data-button-data="{}"
  data-type="buy"
></div> -->
<!-- This line can go anywhere -->
<!-- <script src="https://api.moneybutton.com/moneybutton.js"></script> -->
